.nav-tabs-custom1 .nav-item .active {
    background-color: #262a2f;
    border-radius: 7px;
}

.card {
    border-radius: 16px;
}

.horizontal-grid {
    background-size: 100% 10px;
    background-image: linear-gradient(to bottom,
            #C3D7FF,
            transparent 7%,
            transparent 100%);
}
.border-corner{
    border-top-right-radius: 16px 16px;
}
/* .offcanvas-backdrop{
    display: none;
} */
.modal-style h5{
    display: contents;
}
.custom-modal{
    border: "2px solid #2C74FF";
}